<%- include('partials/header') -%>
<h1>Home</h1>
<p><%= homeStartContent %></p>
<% posts.forEach(element => { %>
    <h1> <%= element.postTitle %> </h1>
    <div class="body-container">
        <p class="home-post-body"> <%= element.postBody %></p>
        <a href="/post/<%=element.postTitle%>">Read More</a>
    </div>
 <%   });%>
<%- include('partials/footer') -%>